/* @import "../node_modules/tailwindcss/base.css";

@import "../node_modules/tailwindcss/components.css";

@import "../node_modules/tailwindcss/utilities.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .col-count-1 {
      column-count: 1;
    }
    .col-count-2 {
      column-count: 2;
    }

    .col-count-3 {
      column-count: 3;
    }

    .col-count-4 {
      column-count: 4;
    }

    .col-count-5 {
      column-count: 5;
    }

    .ctr {
      @apply mr-auto ml-auto;
    }

    .z-neg-10 {
      z-index: -10 !important;
    }

    .z-neg-12 {
      z-index: -12 !important;
    }

    .skew-image {
      clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    }

    .skew-tab {
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
      width: 22%;
    }
    .skew-tab-md {
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
      width: 40%;
    }

    .active-tab {
      @apply bg-primary text-white ;
    }

    @variants hover, first, focus, active {
    }
    .accordion-content {
      max-height: 0;
      -webkit-transition: max-height 1s;
      -o-transition: max-height 1s;
      transition: max-height 1s;
    }

    .accordion input:checked ~ .accordion-content {
      max-height: 100vh;
    }

    .accordion input:checked + label {
      padding: 1.25rem;

      background-color: #f8fafc;
    }

    .accordion label::after {
      float: right;
      right: 0;
      top: 0;
      display: block;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5;
      font-size: 1.25rem;
      text-align: center;
      -webkit-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
    }

    .accordion input[type="checkbox"] + label::after {
      content: "+";
      font-weight: bold;
      border-width: 1px;
      border-radius: 9999px;
      
      color:  #a8c4a4;
    }

    .accordion input[type="checkbox"]:checked + label::after {
      content: "-";
      background: #a8c4a4;
      color: #f8fafc;
    }
  }
}

#gform_fields_1 input{
  @apply border-b border-gray-300;
}

#gform_fields_1 textarea{
  @apply border border-gray-300;
}

.jd-layout-y-spacing{
  @apply my-5 lg:my-10 px-5 lg:px-0;
}

#field_1_11 .ginput_container_textarea{
  @apply py-5;
}

#field_1_11 .gfield_label{
  @apply pt-10;
}

#gform_submit_button_1{
  @apply bg-white border-white text-secondary hover:bg-secondary hover:text-white border border-secondary;
}

#gform_fields_1{
  @apply flex flex-wrap justify-between;
}

#field_1_2{
  @apply w-full md:w-[45%];
}

#field_1_3{
  @apply w-full md:w-[45%];
}

#field_1_9{
  @apply w-full md:w-[45%];
}

#field_1_10{
  @apply w-full md:w-[45%];
}
#field_1_12{
  @apply w-full md:w-[45%];
}
#field_1_15{
  @apply w-full md:w-[45%];
}