<table class="mt-4 bg-white w-full border border-gray-200">
                                        <tbody class="table-row-group  ">
                                            <tr class="table-row table-row-first-styles bg-primary">
                                                <th class="text-left font-light text-white uppercase py-3 pl-2 pr-1 table-cell ">
                                                    Profile Dimensions	                                                </th>
                                                <th></th>
                                            </tr>
                                                                                        <tr class="table-row table-row-first-styles bg-transparent even:bg-secondary">
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    Outer Frame Depth	                                                </td>
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    70mm                                                </td>
                                            </tr>
                                                                                        <tr class="table-row table-row-first-styles bg-transparent even:bg-secondary">
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    Cill height	                                                </td>
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    30mm                                                </td>
                                            </tr>
                                                                                        <tr class="table-row table-row-first-styles bg-transparent even:bg-secondary">
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    Threshold height	                                                </td>
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    Open In 75mm outside / 55mm inside<br>Open Out 55mm outside / 75mm inside                                                </td>
                                            </tr>
                                                                                        <tr class="table-row table-row-first-styles bg-transparent even:bg-secondary">
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    Low Ali Threshold height	                                                </td>
                                                <td class="text-left py-2 pl-2 pr-1 table-cell ">
                                                    20mm                                                </td>
                                            </tr>
                                                                                    </tbody>
                                    </table>